<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
</head>

<body>
  <div id="app">
    <p>
      <router-link to="/foo">Go to Foo</router-link>
      <router-link to="/bar">Go to Bar</router-link>
    </p>
    <router-view></router-view>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script>
    const loggedIn = false;
    const Home = {
      template: '<div>Home</div>'
    }
    const Foo = {
      data() {
        return {
          loading: true,
          loaded: false
        }
      },
      template: `
      <div class="beers">
        <div class="loading">
          Loading...
        </div>

        <div v-if="loaded" >
          Loaded.
        </div>
      </div>`,
      methods: {
        showContent(status) {
          if (status) {
            this.loading = false
            this.loaded = true
            return true
          }
        }
      },

      beforeRouteEnter(to, from, next) {
        setTimeout(() => {
          console.log('teste');
          app => app.showContent(true)
          next()

        }, 4000);
      }

    }
    const Bar = {
      template: '<div>bar</div>'
    }
    const routes = [{
        path: '/',
        component: Home
      },
      {
        path: '/foo',
        component: Foo,
      },
      {
        path: '/bar',
        component: Bar
      },
    ]
    const router = new VueRouter({
      mode: 'history',
      routes
    })

    const app = new Vue({
      router
    }).$mount('#app')

  </script>
</body>

</html>
