<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
</head>

<body>

  <div id="app">
    <h1>Componentes - Emit</h1>

    <div class="app">
      <p>Parent element: {{message}}</p>
      <child-component :text="message" @change-text="changeMessage"></child-component>
    </div>

    <script src="../assets/js/vendor/vue.js"></script>

    <script>
      Vue.component('child-component', {
        props: ['text'],
        data() {
          return {
            message: 'Child Text'
          }
        },
        template: `
          <div>
            <p>Child element: {{message}}</p>
            <button @click="SenToParent">Let's Talk</button>
          </div>
        `,
        methods: {
          SenToParent() {
            this.text = 'forget introductions, I want a taco';
            this.$emit('change-text', this.message);
          }
        }
      });

      new Vue({
        el: '#app',
        data() {
          return {
            message: 'Parent Text'
          }
        },
        methods: {
          changeMessage(newMessage) {
            this.message = newMessage;
          }
        }
      });

    </script>
</body>

</html>
