@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 0.5em;
  text-align: center;
  font: 1em "Source Sans Pro", sans-serif;
  letter-spacing: 0.5px;
  background: #eee;
  color: #35495e;
}

h1 {
  color: #41b883;
  text-shadow: 1px 1px 0px #35495e, 2px 2px 0px #35495e, 3px 3px 0px #35495e, 4px 4px 0px #35495e;
  font-size: 2.5em;
  margin-bottom: 0;
  padding-bottom: 0;
}

input {
  display: block;
  appearance: none;
  margin: 0.5em auto;
  padding: 0.5em;
  padding-left: 0.1em;
  vertical-align: middle;
  border: 1px solid transparent;
  border-bottom: 1px solid #35495e;
  border-radius: 2px;
  color: #35495e;
  background: transparent;
  font-size: 1em;
  width: 100%;
  max-width: 20em;
  outline: 0;
}

button {
  appearance: none;
  padding: 0.5em;
  vertical-align: middle;
  border: none;
  background: none;
  color: #41b883;
  font-weight: 400;
  font-size: 1em;
  cursor: pointer;
  text-shadow: 1px 1px 0px #35495e, 2px 2px 0px #35495e;
  transition: color 0.25s ease-out;
}

button:hover {
  color: #3aa576;
}

.parent {
  border: 1px solid #35495e;
  border-radius: 5px;
  width: 100%;
  max-width: 1000px;
  margin: 1em auto;
}

.parent .childWrapper {
  display: flex;
  padding: 0 0.5em;
}

.parent .childWrapper .child {
  flex-grow: 1;
  border: 1px solid #41b883;
  border-radius: 5px;
  margin: 1em 0.5em;
  padding: 1em;
}

@media (max-width: 600px) {
  .parent .childWrapper {
    display: block;
  }

  .parent .childWrapper .child {
    width: calc(100% - 1em);
  }
}

.message {
  display: inline-block;
  padding: 0.5em;
  margin: 0.25em;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.message.good {
  background: #41b883;
}

.message.bad {
  background: #ea0000;
}
