<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
</head>

<body>
  <div id="app">
    <p>
      <!-- use router-link component for navigation. -->
      <!-- specify the link by passing the `to` prop. -->
      <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
      <router-link to="/beer/storm">Storm</router-link>
      <br />
      <br />
      <router-link to="/beer/devine-rebel">Devine Rebel</router-link>
      <br />
      <br />
      <router-link to="/beer/devine-rebel/type/ale">Devine Rebel Ale</router-link>
      <br />
    </p>
    <!-- route outlet -->
    <!-- component matched by the route will render here -->
    <router-view></router-view>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

  <script>
    const Beer = {
      template: '<div>Cerveja {{ $route.params.name }} {{ $route.params.type }} </div>'
    }

    const router = new VueRouter({
      mode: 'history',
      routes: [
        // dynamic segments start with a colon
        { path: '/beer/:name', component: Beer },
        { path: '/beer/:name/type/:type', component: Beer }
      ]
    })

    const app = new Vue({

      router,
      // watch: {
      //   '$route' (to, from) {
      //     console.log(to);
      //     console.log(from);
      //   }
      // },
      beforeRouteUpdate (to, from, next) {
        console.log(to);
        console.log(from);
        console.log(next);
      }

    }).$mount('#app')


  </script>
</body>

</html>
