<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
</head>

<body>

  <div id="app">
    <h1>{{ title ? title : 'Senac 2018' }}</h1>
    <ul>
      <li v-for="step in steps">
        {{ step }}
      </li>
    </ul>

    <form v-on:submit.prevent>
      <input type="text" v-on:keyup.enter="steps.push(newStep)" v-model="newStep">
      <button v-on:click="steps.push(newStep)">Adicionar</button>
    </form>
  </div>

  <script src="assets/js/vendor/vue.js"></script>

  <script>
    var list = new Vue({
      el: "#app",
      data: {
        title: "Data List",
        newStep: '',
        steps: [
          'Instalações',
          'Introdução',
          'Primeiro Projeto',
          'Itens Complementares',
          'Projeto Final'
        ]
      }
    });

    // list.$data.steps.push('PROVA FINAL')
    // list.$data.steps.pop()

  </script>
</body>

</html>
