<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
</head>

<body>
  <div id="app">
    <router-view></router-view>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

  <script>
    function dinamicProp(route) {
      const now = new Date()
      return {
        name: 'Bohemia',
        type: 'Lager',
        age: (now.getFullYear() - parseInt(route.params.years)) + '!'
      }
    }

    const Beer = {
      props: {
        name: {
          type: String,
          default: ''
        },
        type: {
          type: String,
          default: ''
        },
        age: {
          type: String,
          default: ''
        }
      },
      template: `<div>
                  <ul>
                    <li>{{ name ? name : $attrs.nameDefault }}</li>
                    <li>{{type}}</li>
                    <li>{{age}}</li>
                  </ul>
                </div>`
                // <li>{{ $attrs }}</li>
    }


    const router = new VueRouter({
      mode: 'history',
      routes: [
        //Exemplo de rota vazia
        {
          path: '/',
          component: Beer
        },
        // Passando os parâmetros de rota para uma prop
        {
          path: '/Beer/:name',
          component: Beer,
          props: true
        },
        // Passando uma prop chamada 'name'
        {
          path: '/Beer',
          component: Beer,
          props: {
            name: 'Kalena',
            type: 'Pilsen'
          }
        },
        {
          path: '/bohemia/:years',
          component: Beer,
          props: dinamicProp
        }
      ]
    })

    new Vue({
      router,
      components: {
        Beer
      },
      template: `
        <div id="app">
          <h1>Route props</h1>
          <ul>
            <li>
              <router-link to="/">Default</router-link>
            </li>
            <li>
              <router-link to="/beer/Glacial">Glacial</router-link>
            </li>
            <li>
              <router-link to="/beer">Kalena</router-link>
            </li>
            <li>
              <router-link to="/bohemia/120">Bohemia</router-link>
            </li>
          </ul>

          <router-view  class="view" type="pilsen"  nameDefault="skol">
          </router-view>

        </div>
        `
    }).$mount('#app')

  </script>
</body>

</html>
