<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
</head>

<body>

  <div id="app">
    <h1>Eventos</h1>
    {{ message }}
    <button v-on:click="sendMessage('hello')">Say hello</button>

    <button v-on:click="sendMessage(1)">Say numeric</button>

    <button v-on:click="sendMessage(changeColor())">Say function</button>
  </div>

  <script src="../assets/js/vendor/vue.js"></script>

  <script>
    var list = new Vue({
      el: "#app",
      data: {
        message: '',
        color: '',
        count: 0
      },
      methods: {
        sendMessage: function (message) {
          this.message = message;
        },
        changeColor: function () {
          return "blue"
        }
      }
    });

  </script>
</body>

</html>
