<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
</head>

<body>

  <div id="app">
    <h1>Eventos</h1>
    <input type="text" v-model="message">
    <p>Mensagem original: {{ message }} </p>
  </div>

  <script src="../assets/js/vendor/vue.js"></script>

  <script>
    new Vue({
      el: "#app",
      data: {
        message: 'Mensagem'
      },
      computed: {
        message: function () {
          return this.message.toUpperCase()
        }
      }
    });

  </script>
</body>

</html>
