<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
</head>

<body>

  <div id="app">
    <h1>Computeds</h1>
    <p>{{ date }}</p>
  </div>

  <script src="../assets/js/vendor/vue.js"></script>

  <script>
    new Vue({
      el: "#app",
      data: {
        msg: 'horário atual: '
      },
      computed: {
        date: function () {

          return this.msg + Date.now()
        }
      }
    });

  </script>
</body>

</html>
