<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
  <style>
    .active {
      background: blue
    }

  </style>
</head>

<body>

  <div id="app" v-bind:class="{ active: isActive }">
    <h1>Eventos</h1>
    <button v-on:click="increment">Incremento em: {{ count }} </button>
  </div>

  <script src="../assets/js/vendor/vue.js"></script>

  <script>
    new Vue({
      el: "#app",
      data: {
        count: 0,
        isActive: false

      },
      methods: {
        increment: function () {
          this.count++;
          if (this.count > 10) {
            this.isActive = true;
            console.log(this.isActive);

          }
        }
      }
    });

  </script>
</body>

</html>
