<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
</head>

<body>

  <div id="app">
    <h1>{{ title ? title.toUpperCase() : 'Senac 2018' }}</h1>
    <ul>
      <li v-for="(comic, key) in comics" :key="comic.id">

        {{ comic.text }}
        <br />

        <button v-on:click="buy(key, $event)">: buy</button>

      </li>
    </ul>
  </div>

  <script src="../assets/js/vendor/vue.js"></script>

  <script>
    var list = new Vue({
      el: "#app",
      data: {
        title: "Data List",
        newStep: '',
        comics: [{
            id: 0,
            text: 'Instalações'
          },
          {
            id: 1,
            text: 'Introdução'
          },
          {
            id: 2,
            text: 'Primeiro Projeto'
          },
          {
            id: 3,
            text: 'Itens Complementares'
          }, {
            id: 4,
            text: 'Projeto Semanal'
          }
        ]
      },
      methods: {
        buy: function (key, $event) {
          console.log(key);
          console.log($event);

        }
      }
    });

  </script>
</body>

</html>
