<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
</head>

<body>

  <div id="app">
    <p>{{value}}</p>
    <input type="text" v-model="value.firstName">
    <input type="text" v-model="lastName">

    <p>{{lastName}}</p>

  </div>

  <script src="../assets/js/vendor/vue.js"></script>

  <script>
    new Vue({
      el: '#app',
      data: {
        value: {
          firstName: 'carlo',
          secondName: 'brayer'
        }
      },
      computed: {
        lastName: {
          get() {
            return this.value.secondName.charAt(0).toUpperCase() + this.value.secondName.slice(1);
          },
          set(value) {
            this.value.secondName = value;
          }

        }
      }
    });

  </script>
</body>

</html>
