<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
</head>

<body>
  <div id="app">
    <p>
      <router-link to="/beer/skol">Skol</router-link>
      <router-link to="/beer/polar">Polar</router-link>
      <router-link to="/beer/glacial">Glacial</router-link>
      <router-link to="/beer/kalena">Kalena</router-link>
      <router-link to="/beer/original">Original</router-link>
      <router-link to="/beer/london-pride">London Pride</router-link>
    </p>



    <router-view></router-view>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

  <script>
    const Beer = {
      template: `
        <div class="user">
          <h2>Cerveja {{ $route.params.id }}</h2>
          <router-view></router-view>
        </div>
      `
    }

    const UserHome = {
      template: '<div>Home</div>'
    }
    const BeerDetail = {
      template: '<div>Detalhe</div>'
    }

    const router = new VueRouter({
      mode: 'history',
      routes: [{
        path: '/beer/:id',
        alias: ['/cerveza/:id', '/cerveja/:id'],
        component: Beer
      }]
    })
    const app = new Vue({
      router
    }).$mount('#app');

  </script>
</body>

</html>
