<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
</head>

<body>
    <div id="app">
      <p>
        <router-link to="/beer/1">/beer/1</router-link>
        <router-link to="/beer/2">/beer/2</router-link>
        <router-link to="/beer/3">/beer/3</router-link>
        <router-link to="/beer/4">/beer/4</router-link>
        <router-link to="/beer/5">/beer/5</router-link>
        <router-link to="/beer/6">/beer/6</router-link>
      </p>


      <button v-on:click="goBack">Voltar 1 passo</button>

      <router-view></router-view>
    </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

  <script>
    const User = {
      template: `
        <div class="user">
          <h2>Beer {{ $route.params.id }}</h2>
          <router-view></router-view>
        </div>
      `
    }

    const UserHome = { template: '<div>Home</div>' }
    const BeerDetail = { template: '<div>Detalhe</div>' }
    const UserPosts = { template: '<div>Posts</div>' }

    const router = new VueRouter({
      mode: 'history',
      routes: [
        { path: '/beer/:id', component: User,
          children: [
            { path: '', component: UserHome },
            { path: 'detail', component: BeerDetail }
          ]
        }
      ]
    })
    const app = new Vue(
      {
        router,
        mounted: function () {
          //router.push('/beer/detail')

        },
        methods: {
          goBack: function(){
            setTimeout(function(){
              console.log('voltar')
              //router.go(-1)

             }, 3000);

          }
        }
      }
    ).$mount('#app');


  </script>
</body>

</html>
