<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
</head>

<body>

  <div id="app">
    <h1>Componentes - Básico</h1>

    <div id="app">
      <button-counter></button-counter>

      <button-counter></button-counter>

      <button-counter></button-counter>
    </div>

  </div>

  <script src="../assets/js/vendor/vue.js"></script>

  <script>
    Vue.component('button-counter', {
      data: function () {
        return {
          count: 0
        }
      },
      template: '<button v-on:click="count++">Clickou {{ count }} vezes.</button>'
    })

    var app = new Vue({
      el: '#app'
    })

  </script>
</body>

</html>
