<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
</head>

<body>

  <div id="app">
    <button @click="change">Modificar o DOM</button>
    <p>{{message}}</p>
    <br />
    <button @click="changeAgain">Mudar novamente</button>
    <p class="update">{{message2}}</p>

    <br /><br /><br />
    <button @click="destroy">Destruir Vue</button>


  </div>


  <script src="../assets/js/vendor/vue.js"></script>

  <script>
    new Vue({
      el: '#app',
      data: {
        message: "Texto original",
        message2: "Texto original 2"
      },
      beforeCreate() {
        console.log("beforeCreate!");
      },
      created() {
        console.log("created!");
      },
      beforeMount() {
        console.log("beforeMount!");
      },
      mounted() {
        console.log("mounted!");
      },
      updated() {
        console.log("Updated DOM!");
      },
      beforeDestroy() {
        console.log("beforeDestroy!");
      },
      destroyed() {
        console.log("destroyed!");
      },
      methods: {
        change: function () {
          this.message = "Modificar"
        },
        changeAgain: function () {
          this.message2 = "Modificar novamente"
        },
        destroy: function () {
          this.$destroy();
        }
      }
    });

  </script>
</body>

</html>
