<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
</head>

<body>
    <div id="app">
      <p>
        <router-link to="/beer/foo">/beer/foo</router-link>
        <router-link to="/beer/foo/detail">/beer/foo/detail</router-link>
      </p>

      <router-view></router-view>
    </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

  <script>
    const User = {
      template: `
        <div class="user">
          <h2>Beer {{ $route.params.id }}</h2>
          <router-view></router-view>
        </div>
      `
    }

    const UserHome = { template: '<div>Home</div>' }
    const BeerDetail = { template: '<div>Detalhe</div>' }
    const UserPosts = { template: '<div>Posts</div>' }

    const router = new VueRouter({
      routes: [
        { path: '/beer/:id', component: User,
          children: [
            { path: '', component: UserHome },
            { path: 'detail', component: BeerDetail }
          ]
        }
      ]
    })
    const app = new Vue({ router }).$mount('#app')


  </script>
</body>

</html>
