<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
</head>

<body>

  <div id="app">
    <h1>Componentes - Props</h1>

    <div id="app">
      <ol>
        <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
        </todo-item>
      </ol>
    </div>

  </div>

  <script src="../assets/js/vendor/vue.js"></script>

  <script>
    Vue.component('todo-item', {
      props: ['todo'],
      template: '<li>{{ todo.text }}</li>'
    })

    var app = new Vue({
      el: '#app',
      data: {
        groceryList: [{
            id: 0,
            text: 'Instalações'
          },
          {
            id: 1,
            text: 'Introdução'
          },
          {
            id: 2,
            text: 'Primeiro Projeto'
          },
          {
            id: 3,
            text: 'Itens Complementares'
          }, {
            id: 4,
            text: 'Projeto Semanal'
          }
        ]
      }
    })

  </script>
</body>

</html>
