<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
</head>

<body>

  <div id="app">
    <h1>Eventos</h1>
    <input type="text" v-model="question" placeholder="Faça uma pergunta">
    <p>Mensagem original: {{ response }} </p>
  </div>

  <script src="../assets/js/vendor/vue.js"></script>

  <script>
    new Vue({
      el: '#app',
      data: {
        question: '',
        answer: '',
        response: ''
      },
      watch: {
        question: function (newQuestion) {
          this.getAnswer();
        }
      },
      methods: {
        getAnswer: function () {
          var responses = [
            'Sim',
            'Não'
          ];
          this.response = responses[Math.floor(Math.random() * responses.length)];
        }
      }
    })

  </script>
</body>

</html>
